#################
## Installs monit
## vars:
##   monit_admin: 192.168.1.5
#################
---
- name: install monit
  action: yum pkg=monit state=installed

- name: open monit admin firewall for monit_admin
  action: iptables chain="INPUT" s='$monit_admin' tdport=2812
  only_if: "'$monit_admin'"

- name: open monit admin firewall for http_proxy
  action: iptables chain='INPUT' s="$groups['http_proxy'][0]['internal_ip']" tdport=2812
  only_if: "$groups.has_key('http_proxy')"

- name: write monit.conf
  action: template src='common/templates/monit.conf.j2' dest='/etc/monit.conf'
  notify:
    - reload monit

- name: start monit
  action: service name=monit state=started enabled=yes


